# 实习六：事务与并发控制
> 成员：罗逸龙2000017781  占可盈2000013136  范居令2000012942

In [1]:
import pymysql

#这里需要将(user,password,db)中的“2101213030”替换成自己的学号,否则连的不是自己的数据库
conn1 = pymysql.connect(host='162.105.146.37',user='stu2000013136', password='stu2000013136', port=43306,db="stu2000013136")
cursor1 = conn1.cursor()
conn2 = pymysql.connect(host='162.105.146.37',user='stu2000013136', password='stu2000013136', port=43306,db="stu2000013136")
cursor2 = conn2.cursor()
# conn3, cursor3 are for print_lock.
conn3 = pymysql.connect(host='162.105.146.37',user='stu2000013136', password='stu2000013136', port=43306,db="stu2000013136")
cursor3 = conn2.cursor()

def print_lock(table_name: str):
    cursor3.execute("SELECT a.ENGINE_TRANSACTION_ID TRANS_ID, a.OBJECT_NAME, a.INDEX_NAME, a.LOCK_TYPE, a.LOCK_MODE, a.LOCK_STATUS, a.LOCK_DATA  FROM performance_schema.data_locks a WHERE OBJECT_NAME = \"{}\";".format(table_name))
    col = cursor3.description
    list = []
    for i in range(len(col)):
        list.append(col[i][0])
    import prettytable as pt

    # 按行添加数据
    tb = pt.PrettyTable()
    tb.field_names = list
    data = cursor3.fetchall()
    for item in data:
        tb.add_row(item)

    print(tb)

## 任务一：系统内部加锁分析
组合二：id列是二级唯一索引，RC隔离级别 + 组合五：id列是主键，RR隔离级别

In [2]:
%load_ext sql

In [3]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2000013136:stu2000013136@162.105.146.37:43306

In [4]:
%sql use stu2000013136

 * mysql://stu2000013136:***@162.105.146.37:43306
0 rows affected.

[]

### 组合二：id是二级唯一索引，隔离级别为read committed

In [16]:
%%sql
DROP TABLE IF EXISTS `table1`;
CREATE TABLE `table1` (
    `name` VARCHAR(255),
    `id` BIGINT NOT NULL,
    PRIMARY KEY `pk_name` (`name`),
    UNIQUE KEY `uk_id` (`id`)
);
SET SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED;
INSERT INTO `table1` (`name`, `id`) VALUES ("Alice", 1), ("Bob", 2);

 * mysql://stu2000013136:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
2 rows affected.

[]

In [18]:
print('\033[32mBefore the transaction: \033[0m')
print_lock(table_name='table1')
try:
    conn1.begin()
    print("\033[32mTransaction begins.")

    print('\033[32mBefore the execution: \033[0m')
    print_lock(table_name='table1')
    cursor1.execute("DELETE FROM `table1` WHERE `id` = 1")
    
    print('\033[32mAfter the execution: \033[0m')
    print_lock(table_name='table1')
    
    conn1.commit()
    print("\033[32mTransaction commits.")

except:
    print('\033[31mTransaction failed. Rollback starts. \033[0m')
    conn1.rollback()
    print("\033[32mTransaction rollback finished.")

print('\033[32mAfter the transaction: \033[0m')
print_lock(table_name='table1')

Before the transaction:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+
Transaction begins.
Before the execution:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+
After the execution:
+----------+-------------+------------+-----------+-----------+-------------+------------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA  |
+----------+-------------+------------+-----------+-----------+-------------+------------+
| 2111201  |    table1   |    None    |   TABLE   |     IX    |   GRANTED   |    None    |
| 2111201  |    table1   |   uk_id    |   RECORD  |     X     |   GRANTED   | 1, 'Alice' |
| 2111201  |    table1   |   uk_id    |   RECORD  |   X,GAP   |   GRANTED   |  2, 'Bob'  |
+----------+-------------+------------+-----------+-----------+-------------+------------+
Transaction commits.
After the transaction:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+

### 组合五：id是主键，隔离级别为repeatable read

In [19]:
%%sql
DROP TABLE IF EXISTS `table2`;
CREATE TABLE `table2` (
    `id` BIGINT NOT NULL,
    `name` VARCHAR(255),
    PRIMARY KEY `pk_id` (`id`)
);
SET SESSION TRANSACTION ISOLATION LEVEL REPEATABLE READ;
INSERT INTO `table2` (`id`, `name`) VALUES (1, "Alice"), (2, "Bob");

 * mysql://stu2000013136:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
2 rows affected.

[]

In [20]:
print('\033[32mBefore the transaction: \033[0m')
print_lock(table_name='table2')
try:
    conn1.begin()
    print("\033[32mTransaction begins.")

    print('\033[32mBefore the execution: \033[0m')
    print_lock(table_name='table2')
    cursor1.execute("DELETE FROM `table2` WHERE `id` = 1")
    
    print('\033[32mAfter the execution: \033[0m')
    print_lock(table_name='table2')
    
    conn1.commit()
    print("\033[32mTransaction commits.")

except:
    print('\033[31mTransaction failed. Rollback starts. \033[0m')
    conn1.rollback()
    print("\033[32mTransaction rollback finished.")

print('\033[32mAfter the transaction: \033[0m')
print_lock(table_name='table2')

Before the transaction:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+
Transaction begins.
Before the execution:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+
After the execution:
+----------+-------------+------------+-----------+---------------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE |   LOCK_MODE   | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+---------------+-------------+-----------+
| 2111215  |    table2   |    None    |   TABLE   |       IX      |   GRANTED   |    None   |
| 2111215  |    table2   |  PRIMARY   |   RECORD  | X,REC_NOT_GAP |   GRANTED   |     1     |
+----------+-------------+------------+-----------+---------------+-------------+-----------+
Transaction commits.
After the transaction:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+

## 任务三：一致性研读报告

对图片中的一致性术语做名词解释。

|名词|解释|
|---|---|
| Read Uncommitted（读未提交）| 事务可以读取其他未提交事务所做的更改。可能会导致脏读（读取到未提交的数据）和不可重复读（同一事务内多次读取到不同的数据）问题。
| Read Committed（读已提交）| 事务只能读取其他已提交事务所做的更改。避免了脏读问题，但仍可能出现不可重复读和幻读（读取到其他事务插入的数据）问题。|
| Cursor Stability（游标稳定性）| 游标所在的位置不会受到其他事务的修改影响。当一个事务使用游标遍历数据时，其他事务对数据的修改不会影响到该事务正在遍历的数据行。|
| Monotonic Atomic View（单调原子视图）| 事务所看到的数据集是按照事务启动时的一致性状态形成的视图。事务的数据视图在整个事务执行过程中是单调递增的，事务开始时看到的数据状态将保持不变。|
| Snapshot Isolation（快照隔离）| 每个事务在启动时会创建一个快照（数据副本），事务读取的数据来自该快照。每个事务在开始时会获取一个数据快照，其他事务的修改不会影响到该快照，从而保证了读取的数据是一致的。|
| Repeatable Read（可重复读）| 事务在执行期间看到的数据集是一致的，不会受到其他事务的修改影响。在事务执行期间，事务看到的数据保持不变，避免了不可重复读和幻读问题。|
| Serializable（可串行化）| 事务串行执行，每个事务依次执行，并保证事务间不会发生冲突。但可能会导致并发性能下降。|
| Strict Serializable（严格可串行化）| 事务串行执行，并且在发生冲突时会自动检测并回滚其中一个事务，从而保证了严格的一致性。|
| Writes Follow Reads（读后写）| 如果一个操作对数据进行读取，那么后续的写操作必须在该读操作之后执行。确保在对数据进行修改之前，先要读取最新的数据状态，避免了写操作覆盖了先前的读操作的结果。|
| Monotonic Reads（单调读）| 如果一个进程从系统中读取了一个数据项的值，之后再次读取同一数据项的值，那么它将看到一个不小于先前值的值。保证读取的数据值按照时间的先后顺序单调递增，不会出现倒退的情况。|
| Monotonic Writes（单调写）| 对于同一进程，如果一个写操作在另一个写操作之前执行，那么它们在系统中的执行顺序将保持一致。|
| Read Your Writes（读取自己的写操作）| 如果一个进程在某个数据项上执行了一个写操作，那么它随后的读操作将能够看到该写操作所做的修改。保证了一致性和正确性。|
| PRAM（并行随机访问机）| PRAM 是一种计算机模型，用于描述并行计算中的一致性要求和数据访问方式。|
| Causal（因果一致性）| 因果一致性是一种弱的一致性模型，根据因果关系来定义并发操作之间的顺序。|
| Sequential（顺序一致性）| 顺序一致性是一种强的一致性模型，要求所有进程对共享数据的操作按照相同的顺序执行。保证所有进程看到的操作结果是一致的。|
| Linearizable（线性一致性）| 线性一致性是一种最强的一致性模型，要求所有操作按照全局的实时顺序执行。类似于串行执行的效果。|