# 实习六：事务与并发控制
> 成员：罗逸龙2000017781  占可盈2000013136  范居令2000012942

In [1]:
import pymysql

#这里需要将(user,password,db)中的“2101213030”替换成自己的学号,否则连的不是自己的数据库
conn1 = pymysql.connect(host='162.105.146.37',user='stu2000013136', password='stu2000013136', port=43306,db="stu2000013136")
cursor1 = conn1.cursor()
conn2 = pymysql.connect(host='162.105.146.37',user='stu2000013136', password='stu2000013136', port=43306,db="stu2000013136")
cursor2 = conn2.cursor()
conn3 = pymysql.connect(host='162.105.146.37',user='stu2000013136', password='stu2000013136', port=43306,db="stu2000013136")
cursor3 = conn2.cursor()

def print_lock(table_name: str):
    cursor3.execute("SELECT a.ENGINE_TRANSACTION_ID TRANS_ID, a.OBJECT_NAME, a.INDEX_NAME, a.LOCK_TYPE, a.LOCK_MODE, a.LOCK_STATUS, a.LOCK_DATA  FROM performance_schema.data_locks a WHERE OBJECT_NAME = \"{}\";".format(table_name))
    col = cursor3.description
    list = []
    for i in range(len(col)):
        list.append(col[i][0])
    import prettytable as pt

    # 按行添加数据
    tb = pt.PrettyTable()
    tb.field_names = list
    data = cursor3.fetchall()
    for item in data:
        tb.add_row(item)

    print(tb)

## 任务一：系统内部加锁分析
组合二：id列是二级唯一索引，RC隔离级别 + 组合五：id列是主键，RR隔离级别

In [2]:
%load_ext sql

In [3]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2000013136:stu2000013136@162.105.146.37:43306

In [4]:
%sql use stu2000013136

 * mysql://stu2000013136:***@162.105.146.37:43306
0 rows affected.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS `table1`;
CREATE TABLE `table1` (
    `name` VARCHAR(255),
    `id` BIGINT NOT NULL,
    PRIMARY KEY `pk_name` (`name`),
    UNIQUE KEY `uk_id` (`id`)
);
INSERT INTO `table1` (`name`, `id`) VALUES ("Alice", 1), ("Bob", 2);

 * mysql://stu2000013136:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
2 rows affected.

[]

In [14]:
print('\033[32mBefore the transaction: \033[0m')
print_lock(table_name='table1')
try:
    conn1.begin()

    print('\033[32mBefore the execution: \033[0m')
    print_lock(table_name='table1')
    cursor1.execute("DELETE FROM `table1` WHERE `id` = 1")
    
    print('\033[32mAfter the execution: \033[0m')
    print_lock(table_name='table1')
    conn1.commit()
except:
    print('\033[31mThe transaction failed. Rollback starts. \033[0m')
    conn1.rollback()

print('\033[32mAfter the transaction: \033[0m')
print_lock(table_name='table1')

Before the transaction:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+
Before the execution:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+
After the execution:
+----------+-------------+------------+-----------+---------------+-------------+------------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE |   LOCK_MODE   | LOCK_STATUS | LOCK_DATA  |
+----------+-------------+------------+-----------+---------------+-------------+------------+
| 2105459  |    table1   |    None    |   TABLE   |       IX      |   GRANTED   |    None    |
| 2105459  |    table1   |   uk_id    |   RECORD  | X,REC_NOT_GAP |   GRANTED   | 1, 'Alice' |
| 2105459  |    table1   |  PRIMARY   |   RECORD  | X,REC_NOT_GAP |   GRANTED   |  'Alice'   |
+----------+-------------+------------+-----------+---------------+-------------+------------+
After the transaction:
+----------+-------------+------------+-----------+-----------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+-----------+-------------+-----------+
+----------+-------------+------------+-----------+-----------+-------------+-----------+

In [15]:
%%sql
INSERT INTO `table1` (`name`, `id`) VALUES ("Alice", 1);

 * mysql://stu2000013136:***@162.105.146.37:43306
1 rows affected.

[]